*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: white;
  background-color: #181f2a;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

.heading {
  max-width: 70rem;
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}
@media (min-width: 810px) {
  .heading {
    margin: 0 auto 3rem auto;
  }
}
.heading--secondary {
  max-width: 50rem;
  font-size: clamp(1.8rem, 6vw, 4rem);
  line-height: 1.3;
  margin: 0 0 1.5rem 0;
}
.heading--tertiary {
  font-size: clamp(1.8rem, 4vw, 2rem);
  margin-bottom: 0.8rem;
}

.text {
  max-width: 70rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (min-width: 810px) {
  .text {
    padding: 0 4rem;
  }
}
.text--secondary {
  font-size: 1.4rem;
  max-width: 40rem;
  padding: 0 1rem;
}

.container {
  width: 89%;
  max-width: 140rem;
  margin: 0 auto;
}

.intro__nav {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__logo {
  width: 8rem;
}
@media (min-width: 810px) {
  .intro__logo {
    width: 18rem;
  }
}
.intro__list {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 810px) {
  .intro__list {
    gap: 6rem;
  }
}
.intro__link:link, .intro__link:visited {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1rem;
  position: relative;
  transition: all 0.3s;
}
.intro__link:link::after, .intro__link:visited::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: white;
  position: absolute;
  left: -0.5rem;
  bottom: -0.5rem;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.intro__link:hover, .intro__link:active {
  color: white;
}
.intro__link:hover::after, .intro__link:active::after {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.intro {
  background-color: #1c2431;
  padding-top: 2.2rem;
}
@media (min-width: 810px) {
  .intro {
    padding-top: 8rem;
  }
}
.intro__img {
  margin: 5rem auto 3rem auto;
  padding: 0 1.5rem;
}
@media (min-width: 810px) {
  .intro__img {
    margin: 8rem auto 3rem auto;
  }
}
.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.intro__header {
  z-index: 1;
}
.intro__pattern {
  width: 100%;
  object-fit: cover;
  margin-top: -25rem;
}

.details {
  max-width: 95rem;
  padding: 25rem 0 15rem 0;
}
.details > *:not(:last-child) {
  margin-bottom: 9rem;
}
@media (min-width: 810px) {
  .details {
    padding-top: 15rem;
    margin: 0 auto 15rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }
  .details > *:not(:last-child) {
    margin-bottom: 0rem;
  }
}
@media (min-width: 1140px) {
  .details {
    padding: 0;
    margin-top: -15rem;
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detail__img {
  width: 6.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .detail__img {
    width: 8rem;
  }
}
.detail:nth-child(2) .detail__img {
  width: 5.5rem;
}
@media (min-width: 810px) {
  .detail:nth-child(2) .detail__img {
    width: 7rem;
  }
}

.testimonials {
  margin-bottom: 35rem;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 810px) {
  .testimonials {
    flex-direction: row;
  }
}
@media (min-width: 1140px) {
  .testimonials {
    justify-content: center;
    padding: 0 6rem;
    gap: 4rem;
  }
}

.testimonial {
  background-color: #202a3c;
  padding: 2rem;
}
@media (min-width: 1140px) {
  .testimonial {
    padding: 4rem 2.5rem 3rem 2.5rem;
  }
}
.testimonial--quote {
  position: relative;
}
.testimonial--quote::before {
  content: url("./../../images/bg-quotes.png");
  position: absolute;
  top: -4rem;
  left: -1rem;
  z-index: -1;
  transform: scale(0.4);
}
@media (min-width: 1140px) {
  .testimonial--quote::before {
    transform: scale(1);
  }
}
.testimonial__text {
  font-size: clamp(1rem, 4vw, 1.4rem);
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}
.testimonial__user {
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimonial__img {
  width: 2.5rem;
  border-radius: 50%;
}
.testimonial__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonial__name {
  font-size: 1rem;
  font-weight: 700;
}
.testimonial__status {
  font-size: 0.8rem;
  opacity: 0.9;
}

.description {
  padding: 0 0.5rem;
  margin-bottom: 18rem;
  overflow-x: hidden;
}
@media (min-width: 1140px) {
  .description {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.description__img {
  padding: 0 0.5rem;
  margin: 0 auto 5rem auto;
}
@media (min-width: 1140px) {
  .description__img {
    margin: 0;
  }
}
@media (min-width: 1140px) {
  .description__wrapper {
    margin-top: 3rem;
  }
}
.description__heading {
  text-align: left;
}
.description__text {
  max-width: 55rem;
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  text-align: left;
  padding: 0;
  margin: 0 0 2rem 0;
}
.description__link:link, .description__link:visited {
  width: max-content;
  color: #65e2d9;
  font-size: clamp(1rem, 4vw, 1.4rem);
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-bottom: 0.1rem solid #65e2d9;
  padding-bottom: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s;
}
.description__link:hover, .description__link:active {
  color: white;
  border-bottom: 0.1rem solid white;
}

.footer {
  background-color: #0b1523;
  position: relative;
}
.footer__access {
  width: inherit;
  max-width: 85rem;
  background-color: #1c2431;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px -3px;
  border-radius: 1rem;
  padding: 4rem 3rem;
  position: absolute;
  top: -15rem;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1140px) {
  .footer__access {
    padding: 4rem 8rem 2rem 8rem;
  }
}
.footer__wrapper {
  padding: 30rem 0 1rem 1rem;
}
@media (min-width: 1140px) {
  .footer__wrapper {
    padding: 20rem 0 4rem 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    align-items: start;
    gap: 3rem 8rem;
  }
}
@media (min-width: 1140px) {
  .footer__heading {
    font-size: clamp(1.8rem, 6vw, 3.2rem);
    margin: 0 auto 2rem auto;
  }
}
.footer__text {
  padding: 0;
  max-width: 65rem;
}
.footer__info-list {
  padding: 0 1rem;
  margin: 3rem 0 8rem 0;
}
@media (min-width: 810px) {
  .footer__info-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
}
@media (min-width: 1140px) {
  .footer__info-list {
    margin: 0;
    grid-column: 1/3;
    gap: 2rem;
  }
}
.footer__info-item {
  width: max-content;
  max-width: 30rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
@media (min-width: 810px) {
  .footer__info-item {
    max-width: 40rem;
  }
}
.footer__info-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (min-width: 1140px) {
  .footer__info-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__info-item::before {
  width: 1rem;
  margin: 0.3rem 1.5rem 0 0;
}
.footer__info-item--place {
  font-size: 1.6rem;
}
@media (min-width: 810px) {
  .footer__info-item--place {
    grid-row: 1/-1;
  }
}
.footer__info-item--place::before {
  content: url("./../../images/icon-location.svg");
}
.footer__info-item--phone::before {
  content: url("./../../images/icon-phone.svg");
}
@media (min-width: 810px) {
  .footer__info-item--email {
    grid-column: 2/-1;
  }
}
.footer__info-item--email::before {
  content: url("./../../images/icon-email.svg");
}
.footer__nav-list {
  padding: 0 1rem;
}
@media (min-width: 810px) {
  .footer__nav-list {
    padding: 0;
    display: grid;
    grid-template-columns: 20rem 10rem;
    grid-template-rows: repeat(3, 4rem);
  }
}
@media (min-width: 1140px) {
  .footer__nav-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__nav-item {
  width: max-content;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (min-width: 810px) {
  .footer__nav-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__nav-item:nth-of-type(4) {
  margin-bottom: 5rem;
}
@media (min-width: 810px) {
  .footer__nav-item:nth-of-type(4) {
    margin-bottom: 0;
  }
}
.footer__nav-link:link, .footer__nav-link:visited {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: all 0.3s;
}
.footer__nav-link:hover, .footer__nav-link:active {
  color: white;
}
.footer__social-list {
  padding: 0 1rem;
  margin: 8rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
@media (min-width: 1140px) {
  .footer__social-list {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social-item {
  border: 0.1rem solid white;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social-item:hover {
  cursor: pointer;
  border: 0.1rem solid #65e2d9;
}
.footer__social-item:hover .footer__social-icon {
  fill: #65e2d9;
}
.footer__social-link {
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-icon {
  width: 1.1rem;
  fill: white;
  transition: all 0.3s;
}
.footer__attribution {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 1140px) {
  .footer__attribution {
    grid-column: 2/4;
  }
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  color: #65e2d9;
  text-transform: uppercase;
  transition: all 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: #339ecc;
}

.footer__form {
  width: 100%;
}
@media (min-width: 1140px) {
  .footer__form {
    margin: 4rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
  }
}
.footer__input {
  width: 100%;
  border: 0;
  border-radius: 5rem;
  margin: 4rem 0 2rem 0;
  padding: 1.4rem 3rem;
  transition: all 0.3s;
}
.footer__input:focus-visible {
  outline: 0.3rem solid #65e2d9;
}
.footer__input::placeholder {
  color: rgba(32, 42, 60, 0.7);
  font-size: 1rem;
}
@media (min-width: 1140px) {
  .footer__input {
    margin: 0;
  }
}
.footer__input.input--has-error:focus-visible {
  outline: 0.3rem solid #ff4242;
}
.footer__error {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@media (min-width: 1140px) {
  .footer__error {
    text-align: left;
    padding: 0 0 0 3rem;
  }
}
.footer__error.error--is-visible, .footer__error.success--is-visible {
  opacity: 1;
  visibility: visible;
}
.footer__error.error--is-visible {
  color: #ff4242;
}
.footer__error.success--is-visible {
  color: #65e2d9;
}

.btn {
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-weight: 400;
  border-radius: 5rem;
  text-align: center;
  padding: 1.4rem 2rem;
  z-index: 1;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #65e2d9, #65e2d9);
}
.btn--link {
  width: 24rem;
}
@media (min-width: 1140px) {
  .btn--link {
    width: 28rem;
  }
}
.btn--link:link, .btn--link:visited {
  color: white;
  text-decoration: none;
}
.btn--submit {
  width: 100%;
  color: white;
  border: 0;
}
@media (min-width: 1140px) {
  .btn--submit {
    width: 30rem;
  }
}

/*# sourceMappingURL=style.css.map */
