@use '../abstracts/index.scss' as *;

.details {
  margin: 13rem 0 15rem 0;

  @media (min-width: 810px) {
    margin: 0 0 15rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 9rem;

    @media (min-width: 810px) {
      margin-bottom: 0;
    }
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__img {
    width: 6.5rem;
    margin-bottom: 3rem;
  }

  &:nth-child(2) .detail__img {
    width: 5.5rem;
  }
}
