@use '../abstracts/index.scss' as *;

.footer {
  &__access {
  }

  &__logo {
  }

  &__info {
    &-list {
    }

    &-item {
      &--place {
      }

      &--phone {
      }

      &--email {
      }
    }
  }

  &__nav {
    &-list {
    }

    &-item {
    }

    &-link {
    }
  }

  &__social {
    &-list {
    }

    &-item {
    }

    &-link {
    }

    &-icon {
    }
  }

  &__attribution {
    font-size: 1rem;
    text-align: center;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      // color: ;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      // color: ;
    }
  }
}
