@use '../abstracts/index.scss' as *;

.intro {
  background-color: $color-primary--dark;
  padding-top: 2.2rem;
  position: relative;

  @media (min-width: 810px) {
    padding: 8rem 0 20rem 0;
  }

  &__img {
    margin: 5rem auto 3rem auto;
    padding: 0 1.5rem;
    z-index: 1;
    position: relative;

    @media (min-width: 810px) {
      margin: 8rem auto 3rem auto;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  &__header {
    z-index: 1;
  }

  &__pattern {
    height: 21rem;
    width: 100%;
    background-color: $color-primary;
    position: absolute;
    bottom: 0;

    @media (min-width: 810px) {
      height: 1rem;
    }

    &::before {
      content: url('../../../images/bg-curvy-mobile.svg');
      width: 100%;
      position: absolute;
      bottom: 20rem;

      @media (min-width: 810px) {
        content: url('../../../images/bg-curvy-desktop.svg');
        bottom: 0;
      }
    }
  }
}
