@use '../abstracts/index.scss' as *;

.btn {
  background-image: linear-gradient(to right, $color-cyan, $color-blue);
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 5rem;
  text-align: center;
  padding: 1.4rem 2rem;
  z-index: 1;

  &--link {
    width: 24rem;

    &:link,
    &:visited {
      color: $color-secondary--light;
      text-decoration: none;
    }
  }

  &--submit {
    width: 100%;
    color: $color-secondary--light;
    border: 0;
  }
}
