@use '../abstracts/index.scss' as *;

.btn {
  background-image: linear-gradient(to right, $color-cyan, $color-blue);
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  font-weight: 400;
  border-radius: 5rem;
  text-align: center;
  padding: 1.4rem 2rem;
  z-index: 1;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, $color-cyan, $color-cyan);
  }

  &--link {
    width: 24rem;

    @media (min-width: 1140px) {
      width: 28rem;
    }

    &:link,
    &:visited {
      color: $color-secondary--light;
      text-decoration: none;
    }
  }

  &--submit {
    width: 100%;
    color: $color-secondary--light;
    border: 0;

    @media (min-width: 1140px) {
      width: 30rem;
    }
  }
}
