@use '../abstracts/index.scss' as *;

.footer {
  &__form {
    width: 100%;
  }

  &__input {
    width: 100%;
    border: 0;
    border-radius: 5rem;
    margin: 4rem 0 2rem 0;
    padding: 1rem 3rem;

    &::placeholder {
      color: rgba($color-secondary, 0.7);
      font-size: 1rem;
    }
  }

  &__btn {
    width: 100%;
  }
}
