@use '../abstracts/index.scss' as *;

.footer {
  &__form {
    width: 100%;

    @media (min-width: 1140px) {
      margin: 4rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3.5rem;
    }
  }

  &__input {
    width: 100%;
    border: 0;
    border-radius: 5rem;
    margin: 4rem 0 2rem 0;
    padding: 1.4rem 3rem;

    &::placeholder {
      color: rgba($color-secondary, 0.7);
      font-size: 1rem;
    }

    @media (min-width: 1140px) {
      margin: 0;
    }
  }

  &__btn {
    width: 100%;
  }
}
